body{
background:#f3f3f3;
color:#333;
width:100%;
font-family:sans-serif;
margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#417aa8;
    color:#fff;
 }
.jarak{
    padding:0 2pc;
}
<div class="header">
    <div class="jarak">
      <h2>Belajar Membuat Layout dengan HTML dan CSS</h2>
    </div>
</div>

.content{
    width:90%;
    margin:auto;
    height:420px;
    padding:0.1px;
    background:#fff;
    color:#333;
 }
.border{
    border:2px solid #4887b9;
    margin-top:1pc;
    padding-bottom:1pc;
    padding-left:2pc;
    padding-right:2pc;
 }

.kiri{
    width:70%;
    float:left;
    margin:auto;
    background:#fff;
    height:420px;
 }
<div class="content">
    <div class="jarak">
        <!-- kiri -->
        <div class="kiri">
            <!-- blog -->
            <div class="border">
                <div class="jarak">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                    <button class="btn">Read More ..</button>
                </div>
            </div>
            <!-- end blog -->

            <!-- blog -->
            <div class="border">
                <div class="jarak">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing</p>
                    <button class="btn">Read More ..</button>
                </div>
            </div>
            <!-- end blog -->
        </div>
        <!-- kiri -->

        <!-- kanan -->
        <div class="kanan">
            <div class="jarak">
                <h3>CATEGORY</h3>
                <hr/>
                <p><a href="#" class="undecor">HTML</a></p>
                <p><a href="#" class="undecor">CSS</a></p>
                <p><a href="#" class="undecor">BOOTSTRAP</a></p>
                <p><a href="#" class="undecor">PHP</a></p>
                <p><a href="#" class="undecor">MYSQL</a></p>
                <p><a href="#" class="undecor">Jquery</a></p>
                <p><a href="#" class="undecor">Ajax</a></p>
            </div>
        </div>
        <!-- kanan -->
    </div>
</div>

<div class="footer">
    <div class="jarak">
        <p>copyright 2021 codekop all reserved</p>
    </div>
</div>

    







